@import 'node_modules/ember-frost-css-core/scss/frost-core';
@import 'node_modules/ember-frost-theme/scss/frost-theme';

$border: 1px solid $frost-color-grey-6;
$color: $frost-color-grey-2;
$error-border: 1px solid $frost-color-danger;
$error-margin: 1px; // Note: margin + border width equals border width of focus state
$focus-border: 2px solid $frost-color-blue-1;
$focus-margin: 0;
$disabled-border: 1px solid $frost-color-lgrey-1;
$disabled-bg: $frost-color-lgrey-3;
$font-size: $frost-font-s;
$height: 35px;
$margin: 1px; // Note: margin + border width equals border width of focus state
$padding: 0 6px;

.frost-text {
  &.error {
    > input {
      border: $error-border;
      margin: $error-margin;
    }
  }

  > input {
    border: $border;
    color: $color;
    font-size: $font-size;
    height: $height;
    margin: $margin;
    outline: none;
    padding: $padding;

    &:focus {
      border: $focus-border;
      margin: $focus-margin;
    }

    &:read-only {
      border: none;
      margin: $focus-margin;
    }

    &:disabled {
      border: $disabled-border;
      background-color: $disabled-bg;
    }

    &:hover:enabled:read-write{
      border: $focus-border;
    }
  }

  .close {
    position: relative;
    left: -25px;
    top: 1px;
    height: 15px;
    width: 15px;
    color: $frost-color-grey-6;
    cursor: pointer;
  }
}
